html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;

}
.container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1200px;
}
.content_rapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.header {
    box-shadow: 1px 1px 15px rgba(0,0,0,0.20);
    border-style: double;
    border-radius: 5px;
    padding: 30px;
    padding-bottom: 70px;
    
}
h1,h2,h3,h4,h5,h6 {
    margin-top:0;
    text-transform: capitalize;
}
ul, p {
    margin: 0;
}
p {
    line-height: 1.5;
}
.photos {
    margin: 30px;
}
.photos-box {
    width: 50%
}
a {
    text-decoration: none;
    transition: opacity .15s ease-in-out;
    font-weight: 600;
    color: inherit;
}
.photos-gallery {
    display: flex;
    flex-wrap: wrap;
}
a:hover {
    opacity: .70;
}
img {
    width: 100%;
    object-fit: cover;
}
.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section {
    margin-bottom: 90px;
}
/* Mobile styles */

@media (min-width: 550px) {
    .content_rapper {
        display: flex;
        flex-direction: row;
    }
    header, .photos-gallery {
      width: 50%;
    }
    .container {
        padding: 0 60px;
    }
    .section {
        margin-bottom: 190px;
    }
    .photos-box {
        width: 33.3%;
    }
  
}